<p-card>
  <ng-template pTemplate="content">
    <div class="w-full m-0 p-0">
      <h2 class="text-base m-0 mb-2 text-center">Filtros</h2>
      <form [formGroup]="formFilters">
        <div class="flex flex-wrap gap-3 p-fluid">
          <div class="flex-auto" [ngClass]=" filtrosVisibles.finca ? '':  'hidden'">
            <label for="finca" class="ml-1">Finca</label>
            <p-dropdown
              formControlName="finca"
              [options]="finca"
              optionLabel="nombre"
              styleClass="m-1"
            ></p-dropdown>
          </div>
          <div class="flex-auto" [ngClass]=" filtrosVisibles.weekInicial ? '':  'hidden'">
            <label for="semanaInicial" class="ml-1">Semana Inicial</label>
            <p-dropdown
              formControlName="semanaInicial"
              [options]="weeks"
              styleClass="m-1"
            ></p-dropdown>
          </div>
          <div class="flex-auto" [ngClass]=" filtrosVisibles.weekFinal ? '':  'hidden'">
            <label for="semanaFinal" class="ml-1">Semana Final</label>
            <p-dropdown
              formControlName="semanaFinal"
              [options]="weeks"
              styleClass="m-1"
            ></p-dropdown>
          </div>
          <div class="flex-auto" [ngClass]=" filtrosVisibles.color ? '':  'hidden'">
            <label for="color" class="ml-1">Color</label>
            <p-dropdown
              formControlName="color"
              [options]="color"
              styleClass="m-1"
            ></p-dropdown>
          </div>
          <div class="flex-auto" [ngClass]=" filtrosVisibles.variedad ? '':  'hidden'">
            <label for="variedad" class="ml-1">Variedad</label>
            <p-dropdown
              formControlName="variedad"
              [options]="variedad"
              optionLabel="VARIEDAD"
              styleClass="m-1"
            ></p-dropdown>
          </div>
          <div class="flex-auto"  [ngClass]=" filtrosVisibles.per ? '':  'hidden'">
            <label for="per" class="ml-1">Per</label>
            <p-dropdown
              formControlName="per"
              [options]="per"
              optionLabel="nombre"
              styleClass="m-1"
            ></p-dropdown>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  
</p-card>
