<div class="grid m-0 p-0 w-full justify-content-center align-content-center align-items-center">
  <div class="md:col-8 lg:col-7 w-11 md:w-10 lg:w-9 m-0 p-0">
    <div
      class="grid m-0 p-0 min-h-screen align-items-center justify-content-center w-full"
    >
      <!-- mensajes estaticos -->
      <div class="hidden sm:block sm:col-6 md:col-7 lg:col-8">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus illo
        obcaecati tempore libero quis nostrum ab sint minima natus.
        Necessitatibus vero voluptatibus iusto? Dignissimos repellendus
        accusantium laboriosam iusto asperiores ipsa.
      </div>
      <!-- Formulario -->
      <div class="sm:col-6 md:col-5 lg:col-4 col-9">
        <p-card>
          <ng-template pTemplate="header">
            <div class="w-full flex justify-content-center">
              <img class="w-8rem h-8rem mt-2" src="assets/img/optimpowerlogo250.png" alt="logo">
            </div>
            <div class="flex flex-row w-full justify-content-center p-2">
              <h1 class="text-xl text-blue-500">OPTIM</h1>
              <h1 class="text-xl text-yellow-500">FLOWER</h1>
            </div>
          </ng-template>

          <ng-template pTemplate="content">
            <div>
              
              <form [formGroup]="formLogin">
                <label for="username" class="font-bold block mb-2"
                  >Usuario</label
                >
                <input
                  pInputText
                  id="integer"
                  [pKeyFilter]="blockSpace"
                  class="w-full"
                  formControlName="username"
                />
                <label for="password" class="font-bold block mb-2"
                  >Contraseña</label
                >
                <p-password
                  formControlName="password"
                  styleClass="w-full"
                  inputStyleClass="w-full"
                  [toggleMask]="true"
                  [feedback]="false"
                ></p-password>
              </form>
            </div>
          </ng-template>

          <ng-template pTemplate="footer">
            <p-button
              label="Iniciar Sessión"
              styleClass="w-full"
              (onClick)="openDashboard('dashboard')"
            ></p-button>
          </ng-template>
          <p-toast></p-toast>
        </p-card>
      </div>
    </div>
  </div>
</div>
